@import "../../styles/colors.scss";

.calendarWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: $primaryLight;
  color: $white;
  border-radius: 8px;
  width: 60px;
  height: 60px;

  .year {
    font-size: 16px;
  }
}